@import "variable.css";
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(253, 247, 249, 0.847);
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(30px);
  transition: all 0.4s ease;
  color: #10004b;
  background: linear-gradient(90deg, rgb(252, 185, 252) 0%, rgb(148, 233, 196) 100%);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 0 0 6px 6px;
}
header .header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header img {
  width: 40px;
  height: 40px;
}

.header-ul {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 15px;
}
.header-ul li {
  list-style: none;
  margin-left: 15px;
}
.header-ul li a {
  text-decoration: none;
}
.header-ul li a:hover {
  color: rgba(0, 0, 0, 0.918);
  font-weight: 900;
  transition: all 0.2s ease;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.hamburger-menu span {
  display: inline-block;
  height: 5px;
  width: 20px;
  margin-top: 2px;
  background: #10004b;
  border-radius: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.main aside, .main main {
  background: linear-gradient(90deg, rgb(252, 185, 252) 0%, rgb(148, 233, 196) 100%);
  margin: 0 8px;
  height: 400px;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  padding: 25px 0;
}
.main img {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

main {
  width: 65%;
}
main h2 {
  margin: 15px 0;
}
main p {
  font-size: 1.3rem;
}

aside {
  width: 35%;
}
aside div {
  margin: 10px 40px;
  padding: 0 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #fff;
  background: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 15px;
}
aside div:hover {
  color: rgba(0, 0, 0, 0.918);
  font-weight: 900;
  transition: all 0.2s ease;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  width: calc(100% - 6rem);
  padding: 2rem 3rem;
  margin-top: 30px;
}

.card {
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card img {
  width: 100%;
}
.card .content-card p {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.918);
  padding: 0 20px;
  margin: 6px 0;
}
.card .content-card span {
  font-size: 1rem;
  font-weight: bold;
  color: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
  padding: 0 20px;
  margin: 5px 0;
  display: inline-block;
}

footer {
  display: flex;
  margin-top: 50px;
  background: linear-gradient(90deg, rgb(252, 185, 252) 0%, rgb(148, 233, 196) 100%);
  padding: 2rem 3rem;
}
footer .summary {
  width: 50%;
  text-align: justify;
  font-size: 0.9rem;
  font-weight: bold;
  color: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
  margin-right: 10rem;
}
footer .links ul {
  list-style-type: none;
}
footer .links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
}
footer .links a:hover {
  color: rgba(0, 0, 0, 0.918);
  font-weight: 900;
  transition: all 0.2s ease;
}

.tel img {
  position: fixed;
  z-index: 100;
  bottom: 25px;
  left: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.tel img:hover {
  box-shadow: 15px 10px 50px #fde2ff, -15px -10px 40px #df2eff;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }
  header .header {
    display: none;
  }
  .main {
    flex-direction: column-reverse;
  }
  .main main {
    width: 93%;
    margin-bottom: 1rem;
  }
  .main main p {
    font-size: 1rem;
  }
  .main aside {
    width: 93%;
  }
  .main aside div {
    margin: 25px 45px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  footer {
    flex-direction: column;
  }
  footer .summary {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .ilnks {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
