@import "variable.css";


@mixin allstylepage{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
@mixin textStyle($color,$bgmicolor,$bord){
    color: $color;
    background: $bgmicolor;
    font-weight:700;
    font-size: 1.2rem;
    padding: 15px;
    border-radius:$bord;
}
@mixin text($size,$wiegth,$color){
font-size: $size;
font-weight: $wiegth;
color: $color;
}
@mixin effectHover{
    &:hover{
        color:$colorWordhover;
    
        font-weight: 900;
        transition: all .2s ease;
       
       
    }

}
@mixin media($size){
    @if($size==M){
        @media (max-width:768px) {
            @content;
        }

    }
    @else if($size==L){
        @media (min-width:768px) and (max-width:1200px) {
            @content;
        }
    }
}

@mixin boxstyle{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}