$colorWords:rgb(0, 0, 29);
$colorBg:linear-gradient(90deg, rgb(252, 185, 252) 0%, rgb(148, 233, 196) 100%);
$colorWordsHover:#fff;
$colorBgHover:linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);