$colorWords:#10004b;
$colorBg:linear-gradient(90deg, rgb(252, 185, 252) 0%, rgb(148, 233, 196) 100%);
$colorWordhover:rgba(0, 0, 0, 0.918);
$bgdivaside:linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);

$colorbgbody:#edf4f7;
