@import "variable.scss";
@import "mixin.scss";

*{
 @include allstylepage;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(30px);
    transition: all .4s ease;
    @include textStyle;
    .header{

        display: flex;
        justify-content: space-between;
        text-align: center;
    }

img{
    width: 40px;
    height: 40px;
}

}
.header-ul{
    display: flex;
    text-align: center;
    align-items: center;
   margin-right: 15px;

    li{
      
        list-style: none;
        margin-left:15px;
       
        a{ 
            @include effectHover;
            text-decoration: none;
        }
    }
}